
<br><br>

<div class="container">
    <div class="card">
        <div class="card-content">
            <form action="#">
                <h2>Add New Game Guide</h2>

                <input id="title" type="text" placeholder="Game Title">
                <label for="title">Title</label>

                <textarea id="shortdesc" class="materialize-textarea" placeholder="Game Description"></textarea>
                <label for="shortdesc">Short Description</label>

                <div id="chips" class="chips chips-placeholder"></div>
                <label for="chips">Requirements</label>

                <div class="file-field input-field">
                    <div class="btn">
                      <span>Add Image</span>
                      <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path" type="text" placeholder="Add a game image">
                    </div>
                </div>

                <label for="range">Players 0 - 100</label>
                <p class="range-field">
                    <input type="range" id="test5" min="0" max="100" />
                </p>

                <input id="time" type="text" placeholder="Example 1:00">
                <label for="time">Duration</label>

            </form>
        </div>
    </div>
</div>
